body {
  font-family: "Monaco", "Courier New", monospace;
}

.minimap {
  width: 300px;
  height: 300px;
}

.cytoscope {
  width: 900px;
  height: 900px;
}

.config {
  margin: 25px;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.graph {
  width: 900px;
  height: 900px;
  margin: 25px;
}
