<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Style Template Test Page</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="index.js" type="module"></script>
    <script src="color.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.25.0/cytoscape.min.js"></script>
  </head>

  <body>

    <div id="testzone">

      <div id="test-display-config" class="flex">

        <fieldset id="face-config-test">

          <legend><strong><input type="checkbox" id="face-config-test-toggle" onclick="toggleConfig('face-config-test');" checked> Config : Node : Color</strong></legend>

          <div id="color-config-minimap" class="minimap"></div>

          <hr />

          <p>
            <strong><label for="color-config-minimap-type">Type</label></strong><br />
            <select id="color-config-minimap-type" onchange="globalThis.minitype = document.getElementById('color-config-minimap-type').value;">
              <option value="node" selected>Node</option>
              <option value="edge">Edge</option>
              <option value="node-label">Label (Node)</option>
              <option value="edge-label">Label (Edge)</option>
              <option value="face" disabled>Face</option>
            </select>
          </p>

          <hr />

          <p class="flex center">

            <button id="color-config-minimap-apply" onclick="applyColorElement();" disabled>Apply Template</button>  <input id="color-config-minimap-apply-toggle" type="checkbox" onclick="applyColorElement(); document.getElementById('color-config-minimap-apply').disabled = !(document.getElementById('color-config-minimap-apply').disabled);" checked>

          </p>

        </fieldset>

        <fieldset id="color-config-template-fieldset" class="graph flex center">

          <legend><strong>Color Config Template Element</strong></legend>

          <div id="color-config-template" class="cytoscope"></div>

        </fieldset>

        <fieldset id="config-fieldset">

          <legend>
            <strong><input type="checkbox" id="config-toggle" onclick="toggleConfig('config');" checked> Config : Template</strong> <button id="config-fieldset-advanced" onclick="">⚙️</button>
          </legend>

          <div id="color-config-minimap-edge" class="minimap"></div>

          <hr />

          <div id="config-element-type">
          <p>
            <label for="config-element-type-select"><strong>Type</strong></label><br />
            <select id="config-element-type-select" onchange="">
              <option value="" disabled selected hidden></option>
              <option value="node">Node</option>
              <option value="edge">Edge</option>
              <option value="face" disabled>Face</option>
            </select>
            <button id="config-element-type-advanced" onclick="">⚙️</button>
          </p>
          </div>

          <div id="config-element-property">
          <p>
            <label for="config-element-property-select"><strong>Property</strong></label><br />
            <select id="config-element-property-select" onchange="">
              <option value="" disabled selected hidden></option>
              <option value="color">Color</option>
              <option value="shape" disabled>Shape</option>
              <option value="space" disabled>Space</option>
              <option value="label" disabled>Label</option>
            </select>
            <button id="config-element-property-advanced" onclick="">⚙️</button>
          </p>
          </div>

          <div id="config-element-color">
            <p>
              <label for="config-element-color-output"><strong>Color:</strong></label> <output type="text" id="config-element-color-output" value="#000000">#000000</output><br />
              <input type="color" id="config-element-color-input" value="#000000">
              <button id="config-element-color-advanced-toggle" onclick="colorAdvancedToggle();">⚙️</button>
            </p>

            <div id="config-element-color-advanced" style="display:none;">

              <p>
                <strong><label for="color-config-type-select">Color : Type</label></strong><br />
                <select id="color-config-type-select" onchange="colorConfigTypeDisplay();">
                  <option value="" disabled selected hidden></option>
                  <option value="name">name</option>
                  <option value="hex">hex</option>
                  <option value="rgb">rgb</option>
                </select>
              </p>

              <div id="color-type-name-div" style="display:none;">

                <p>
                  <strong><label for="color-type-name-select">Color : Name</label></strong><br />
                  <select id="color-type-name-select" onchange="colorConfigNameDisplay();">
                    <option value="" disabled selected hidden></option>
                    <option value="text">text</option>
                    <option value="list">list</option>
                    <option value="data">data</option>
                    <option value="random">random</option>
                  </select>
                </p>

                <div id="color-type-name-text-div" style="display:none;">
                <p>
                  <strong><label for="color-type-name-text">Color : Name : Text</label></strong><br />
                  <input id="color-type-name-text" list="color-type-name-text-datalist">
                  <datalist id="color-type-name-text-datalist">
                    <option value="red">
                    <option value="orange">
                    <option value="yellow">
                    <option value="green">
                    <option value="blue">
                    <option value="indigo">
                    <option value="violet">
                  </datalist>
                </p>
                </div>

                <div id="color-type-name-list-div" style="display:none;">
                <p>
                  <strong><label for="color-type-name-list">Color : Name : List</label></strong><br />
                  <select id="color-type-name-list">
                    <option value="" disabled selected hidden></option>
                    <option value="red">red</option>
                    <option value="orange">orange</option>
                    <option value="yellow">yellow</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="indigo">indigo</option>
                    <option value="violet">violet</option>
                  </select>
                </p>
                </div>

                <div id="color-type-name-data-div" style="display:none;">
                <p>
                  <strong><label for="color-type-name-data">Color : Name : Data</label></strong><br />
                  <input id="color-type-name-data" disabled>
                </p>
                </div>

                <div id="color-type-name-random-div" style="display:none;">
                <p>
                  <strong><label for="color-type-name-random">Color : Name : Random</label></strong><br />
                  <input id="color-type-name-random" disabled>
                </p>
                </div>

              </div>

              <div id="color-type-hex-div" style="display:none;">

                <p>
                  <strong><label for="color-type-hex-select">Color : Hex</label></strong><br />
                  <select id="color-type-hex-select" onchange="colorConfigHexDisplay();">
                    <option value="" disabled selected hidden></option>
                    <option value="text">text</option>
                    <option value="range">range</option>
                    <option value="data">data</option>
                    <option value="random">random</option>
                  </select>
                </p>

                <div id="color-type-hex-text-div" style="display:none;">
                <p>
                  <strong><label for="color-type-hex-text">Color : Hex : Text</label></strong><br />
                  <input type="text" id="color-type-hex-text" disabled>
                </p>
                </div>

                <div id="color-type-hex-range-div" style="display:none;">
                <p>
                  <strong><label for="color-type-hex-range">Color : Hex : Range</label></strong><br />
                  <input type="range" id="color-type-hex-range" disabled>
                </p>
                </div>

                <div id="color-type-hex-data-div" style="display:none;">
                <p>
                  <strong><label for="color-type-hex-data">Color : Hex : Data</label></strong><br />
                  <input id="color-type-hex-data" disabled>
                </p>
                </div>

                <div id="color-type-hex-random-div" style="display:none;">
                <p>
                  <strong><label for="color-type-hex-random">Color : Hex : Random</label></strong><br />
                  <input id="color-type-hex-random" disabled>
                </p>
                </div>

              </div>

              <div id="color-type-rgb-div" style="display:none;">
                <p>
                  <strong>Color : RGB : Number</strong><br />
                  <label for="color-config-option-number-r">R</label> <input type="number" id="color-config-option-number-r" name="color-config-option-number-r" value="0" min="0" max="255" step="1"><br />
                  <label for="color-config-option-number-g">G</label> <input type="number" id="color-config-option-number-g" name="color-config-option-number-g" value="0" min="0" max="255" step="1"><br />
                  <label for="color-config-option-number-b">B</label> <input type="number" id="color-config-option-number-b" name="color-config-option-number-b" value="0" min="0" max="255" step="1"><br />
                </p>
                <p>
                  <strong>Color : RGB : Range</strong><br />
                  <label for="color-config-option-range-r">R</label> <input type="range" id="color-config-option-range-r" name="color-config-option-range-r" value="0" min="0" max="255" step="1"><br />
                  <label for="color-config-option-range-g">G</label> <input type="range" id="color-config-option-range-g" name="color-config-option-range-g" value="0" min="0" max="255" step="1"><br />
                  <label for="color-config-option-range-b">B</label> <input type="range" id="color-config-option-range-b" name="color-config-option-range-b" value="0" min="0" max="255" step="1"><br />
                </p>
              </div>

            </div>

          </div>

          <div id="config-element-shape" style="display:none;">
          <p>
            <label for="config-element-shape-output"><strong>Shape:</strong></label> <output type="number" id="config-element-shape-output" value="0">0</output>
          </p>
          </div>

          <div id="config-element-space" style="display:none;">
          <p>
            <label for="config-element-space-output"><strong>Space:</strong></label> <output type="number" id="config-element-space-output" value="0">0</output>
          </p>
          </div>

          <div id="config-element-label" style="display:none;">
          <p>
            <label for="config-element-label-output"><strong>Label:</strong></label> <output type="number" id="config-element-label-output" value="0">0</output>
          </p>
          </div>

        <hr />

        <p class="flex center">

          <button id="color-config-minimap-edge-apply" onclick="applyTemplateEdge();">Apply Template</button>

        </p>

        </fieldset>

      </div>

      <hr />

      <div id="display-config-lower" class="flex">

        <fieldset id="face-config-test-form">

          <legend><strong>Config : Color</strong></legend>

          <p>
            <strong><label for="face-config-test-option-color">Color</label></strong><br />
            <input type="color" id="face-config-test-option-color" name="face-config-test-option-color" value="#000000">
          </p>

          <p>
            <strong><label for="face-config-test-option-select">Color : Select</label></strong><br />
            <select id="face-config-test-option-select">
              <!--<option value="" disabled selected hidden></option>
              <option value="red">red</option>
              <option value="orange">orange</option>
              <option value="yellow">yellow</option>
              <option value="green">green</option>
              <option value="blue">blue</option>
              <option value="indigo">indigo</option>
              <option value="violet">violet</option>-->
            </select>
          </p>

          <p>
            <strong><label for="face-config-test-option-list">Color : Datalist</label></strong><br />
            <input id="face-config-test-option-list" list="face-config-test-option-datalist">
            <datalist id="face-config-test-option-datalist">
              <!--<option value="red">
              <option value="orange">
              <option value="yellow">
              <option value="green">
              <option value="blue">
              <option value="indigo">
              <option value="violet">-->
            </datalist>
          </p>

          <p>
            <strong><label for="face-config-test-option-text">Color : Text</label></strong><br />
            <input type="text" id="face-config-test-option-text" name="face-config-test-option-text" value="#000000">
          </p>

          <p>
            <strong>Color : RGB : Number</strong><br />
            <label for="face-config-test-option-number-r">R</label> <input type="number" id="face-config-test-option-number-r" name="face-config-test-option-number-r" value="0" min="0" max="255" step="1"><br />
            <label for="face-config-test-option-number-g">G</label> <input type="number" id="face-config-test-option-number-g" name="face-config-test-option-number-g" value="0" min="0" max="255" step="1"><br />
            <label for="face-config-test-option-number-b">B</label> <input type="number" id="face-config-test-option-number-b" name="face-config-test-option-number-b" value="0" min="0" max="255" step="1"><br />
          </p>

          <p>
            <strong>Color : RGB : Range</strong><br />
            <label for="face-config-test-option-range-r">R</label> <input type="range" id="face-config-test-option-range-r" name="face-config-test-option-range-r" value="0" min="0" max="255" step="1"><br />
            <label for="face-config-test-option-range-g">G</label> <input type="range" id="face-config-test-option-range-g" name="face-config-test-option-range-g" value="0" min="0" max="255" step="1"><br />
            <label for="face-config-test-option-range-b">B</label> <input type="range" id="face-config-test-option-range-b" name="face-config-test-option-range-b" value="0" min="0" max="255" step="1"><br />
          </p>

        </fieldset>

        <fieldset id="location-config-fieldset">

          <legend><strong>Config : Location</strong></legend>

          <p>
            <strong>Location : X</strong><br />
            <input type="radio" id="location-x-radio-layout" name="location-x-radio" value="layout" checked> <label for="location-x-radio-layout">Layout</label><br />
            <input type="radio" id="location-x-radio-random" name="location-x-radio" value="random"> <label for="location-x-radio-random">Random</label><br />
            <input type="radio" id="location-x-radio-datakey" name="location-x-radio" value="datakey"> <label for="location-x-radio-datakey">Datakey</label> <input type="text" id="radio-x-radio-datakey-text" value=""><br />
          </p>

          <p>
            <strong>Location : Y</strong><br />
            <input type="radio" id="location-y-radio-layout" name="location-y-radio" value="layout" checked> <label for="location-y-radio-layout">Layout</label><br />
            <input type="radio" id="location-y-radio-random" name="location-y-radio" value="random"> <label for="location-y-radio-random">Random</label><br />
            <input type="radio" id="location-y-radio-datakey" name="location-y-radio" value="datakey"> <label for="location-y-radio-datakey">Datakey</label> <input type="text" id="radio-y-radio-datakey-text" value=""><br />
          </p>

          <p>
            <strong>Location : Z</strong><br />
            <input disabled type="radio" id="location-z-radio-layout" name="location-z-radio" value="layout" checked> <label for="location-z-radio-layout">Layout</label><br />
            <input disabled type="radio" id="location-z-radio-random" name="location-z-radio" value="random"> <label for="location-z-radio-random">Random</label><br />
            <input disabled type="radio" id="location-z-radio-datakey" name="location-z-radio" value="datakey"> <label for="location-z-radio-datakey">Datakey</label> <input disabled type="text" id="radio-z-radio-datakey-text" value=""><br />
          </p>

        </fieldset>

        <fieldset id="radius-config-fieldset">

          <legend><strong>Config : Radius</strong></legend>

        </fieldset>

      </div>

      <hr />

      <fieldset>

        <legend><strong>Load</strong></legend>

        <p>
          <label for="load-dire"><strong>Load From Directory Path</strong></label><br />
          <button id="load-dire" onclick="globalThis.loadNetworkFromDirectory( document.getElementById('dire-path').value );" disabled>Upload</button> <input id="dire-path" type="text" value="/data/test-nodes.json" disabled><br />
        </p>

        <p>
          <label for="load-data"><strong>Load From File System</strong></label><br />
          <button id="load-data" onclick="globalThis.loadNetworkFromFile( 'data-file' );">Upload</button>
          <input type="file" id="data-file">
        </p>

        <p>
          <label for="load-test"><strong>Load Test Data File</strong></label><br />
          <button id="load-test" onclick="loadNetworkFromPath('/data/test-nodes.json');" disabled>Upload</button>
        </p>

      </fieldset>

    </div>

  </body>

</html>

